* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:#101010;
}
.body{
      display :flex ;
      
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
     background-color:#333333;
     flex-direction:row;
    flex-wrap:wrap ;
    gap:10px;
    color:white;
    padding :15px;
}
.container a{
      text-decoration: none;
      border-radius :5px;
}
.container h2{
     border-radius :5px;
     padding : ;
}
.container img{
      width:50px;
      border-radius :30px;
}


.logo{
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #bc13fe,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe;
    padding:10px;
    text-align:center ;
}

.container button {
      font-size :20px;
      color:white;
}
.i2{
      color:white;
      text-align :center ;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
